@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Lato-BoldItalic.ttf); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Lato-Italic.ttf); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/Lato-LightItalic.ttf); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Lato-Italic.ttf); }
@font-face {
  font-family: "adobe-garamond-pro";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AGaramondPro-Regular.otf); }
@font-face {
  font-family: "adobe-garamond-pro";
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/AGaramondPro-Italic.otf); }
@font-face {
  font-family: "adobe-garamond-pro";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/AGaramondPro-Bold.otf); }
@font-face {
  font-family: "adobe-garamond-pro";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/AGaramondPro-BoldItalic.otf); }
h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.u-screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.u-screenreader--ignore {
  speak: none; }

.u-margins_off {
  margin-top: 0 !important; }

* {
  transition: color 0.2s ease, background 0.2s ease, border 0.2s ease, box-shadow 0.2s ease, fill 0.2s ease, transform 0.2s ease; }

a > em, a > i,
a > strong, a > b,
a > g, a > path {
  transition: none; }

*:after {
  transition: all 0.2s ease; }

html {
  font-size: 105%; }
  @media screen and (min-width: 30em) {
    html {
      font-size: 115%; } }
  @media screen and (min-width: 56em) {
    html {
      font-size: 125%; } }

html,
body {
  font-family: "adobe-garamond-pro", Georgia, serif; }

h1,
h2,
h3,
h4,
h5,
.navbar,
.heading,
footer {
  font-family: 'Lato', Helvetica, sans-serif; }
  h1 em, h1 i,
  h2 em,
  h2 i,
  h3 em,
  h3 i,
  h4 em,
  h4 i,
  h5 em,
  h5 i,
  .navbar em,
  .navbar i,
  .heading em,
  .heading i,
  footer em,
  footer i {
    font-family: 'Lato', Helvetica, sans-serif;
    font-style: italic; }

main * {
  line-height: 1em; }

a,
button, input[type=button] {
  font-weight: 400; }

strong {
  font-weight: 600; }

em {
  font-family: "adobe-garamond-pro", Georgia, serif;
  font-style: italic; }

h1,
.alpha {
  font-size: 1.65rem;
  line-height: 1.5em;
  margin-bottom: 1em; }
  @media screen and (min-width: 56em) {
    h1,
    .alpha {
      font-size: 2rem; } }

h2,
.beta {
  font-size: 1.65rem;
  line-height: 1.2em;
  margin-bottom: 0.75em; }

h3,
.gamma {
  font-size: 1.15rem;
  line-height: 1.5em;
  margin-bottom: 0.5em; }

h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
.delta {
  font-size: 0.95rem;
  line-height: 1.6em;
  margin-bottom: 0.8em; }

.toc ol {
  font-family: 'Lato', Helvetica, sans-serif; }
  .toc ol li, .toc ol em {
    font-family: 'Lato', Helvetica, sans-serif; }

small,
.milli {
  font-size: 0.65rem;
  max-width: 28rem; }

p,
.button {
  line-height: 1.58em; }

.lead {
  font-size: 1.15rem;
  font-family: 'Lato', Helvetica, sans-serif; }

figure {
  font-size: 0.75rem;
  font-family: 'Lato', Helvetica, sans-serif;
  padding: 1em; }
  figure svg,
  figure img {
    padding: 1em; }
  figure figcaption {
    padding-top: 1em;
    text-align: center; }

.well,
.alert,
.label,
table,
.btn {
  font-family: 'Lato', Helvetica, sans-serif; }
  .well strong,
  .well em,
  .alert strong,
  .alert em,
  .label strong,
  .label em,
  table strong,
  table em,
  .btn strong,
  .btn em {
    font-family: 'Lato', Helvetica, sans-serif; }

table {
  font-size: 0.75rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  table caption {
    color: #3d3d3d;
    padding-top: 1em;
    padding-bottom: 1em; }

blockquote {
  width: 90%;
  margin-right: auto;
  margin-left: auto; }

* {
  color: #00051c; }

h1 {
  color: #1b2f43; }
  h1 small {
    color: #757575; }

h2, h3, h4, h5, h6 {
  color: #45586e; }
  h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #757575; }

a {
  color: #39688f;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #1e5667;
    border-color: inherit;
    text-decoration: none; }

a.unity {
  border-bottom-style: dotted;
  cursor: pointer; }
  a.unity:hover, a.unity:focus, a.unity:active {
    border-bottom-style: solid;
    cursor: pointer; }

*:focus {
  outline: 0;
  box-shadow: 0px 0px 6px 0px #b7c7d9; }

[disabled]:focus {
  box-shadow: 0px 0px 6px 0px #e9faff; }

.main-logo {
  background-color: #1b2f43; }

.primary-logo {
  background-color: #f0f4f5; }

.secondary-logo {
  background-color: #45586e; }

.button,
.btn-default,
.btn {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  padding: 0.3em 1.625em 0.4em 1.625em;
  font-size: 0.95rem; }
  .button:hover, .button:focus, .button:active,
  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn:hover,
  .btn:focus,
  .btn:active {
    color: #1b2f43;
    background-position: 0; }
  .button:active,
  .btn-default:active,
  .btn:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .button[disabled],
  .btn-default[disabled],
  .btn[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .button[disabled]:active,
    .btn-default[disabled]:active,
    .btn[disabled]:active {
      box-shadow: none; }

.button--lg,
.btn-lg {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  padding: 0.65em 1.75em 0.75em 1.75em;
  font-size: 1.15rem; }
  .button--lg:hover, .button--lg:focus, .button--lg:active,
  .btn-lg:hover,
  .btn-lg:focus,
  .btn-lg:active {
    color: #1b2f43;
    background-position: 0; }
  .button--lg:active,
  .btn-lg:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .button--lg[disabled],
  .btn-lg[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .button--lg[disabled]:active,
    .btn-lg[disabled]:active {
      box-shadow: none; }

.button--sm,
.btn-sm {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  padding: 0.75em 1.75em 0.825em 1.75em;
  font-size: 0.65rem; }
  .button--sm:hover, .button--sm:focus, .button--sm:active,
  .btn-sm:hover,
  .btn-sm:focus,
  .btn-sm:active {
    color: #1b2f43;
    background-position: 0; }
  .button--sm:active,
  .btn-sm:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .button--sm[disabled],
  .btn-sm[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .button--sm[disabled]:active,
    .btn-sm[disabled]:active {
      box-shadow: none; }

.button--xs,
.btn-xs {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  padding: 0.55em 1.75em .65em 1.75em;
  font-size: .55rem; }
  .button--xs:hover, .button--xs:focus, .button--xs:active,
  .btn-xs:hover,
  .btn-xs:focus,
  .btn-xs:active {
    color: #1b2f43;
    background-position: 0; }
  .button--xs:active,
  .btn-xs:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .button--xs[disabled],
  .btn-xs[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .button--xs[disabled]:active,
    .btn-xs[disabled]:active {
      box-shadow: none; }

.btn-primary {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  color: #1b2f43;
  background: #b7c7d9;
  background-image: linear-gradient(to right, #1b2f43 50%, #b7c7d9 50%);
  background-position: -100%;
  background-size: 200%; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #1b2f43;
    background-position: 0; }
  .btn-primary:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .btn-primary[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .btn-primary[disabled]:active {
      box-shadow: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #f0f4f5;
    background-position: 0; }
  .btn-primary:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }

.btn-success {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  color: #1b2f43;
  background: #5cb85c;
  background-image: linear-gradient(to right, #49AB5D 50%, #5cb85c 50%);
  background-position: -100%;
  background-size: 200%; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #1b2f43;
    background-position: 0; }
  .btn-success:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .btn-success[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .btn-success[disabled]:active {
      box-shadow: none; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #f0f4f5;
    background-position: 0; }
  .btn-success:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }

.btn-info {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  color: #1b2f43;
  background: #5bc0de;
  background-image: linear-gradient(to right, #2aabd2 50%, #5bc0de 50%);
  background-position: -100%;
  background-size: 200%; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #1b2f43;
    background-position: 0; }
  .btn-info:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .btn-info[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .btn-info[disabled]:active {
      box-shadow: none; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #f0f4f5;
    background-position: 0; }
  .btn-info:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }

.btn-warning {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  color: #1b2f43;
  background: #f0ad4e;
  background-image: linear-gradient(to right, #eb9316 50%, #f0ad4e 50%);
  background-position: -100%;
  background-size: 200%; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #1b2f43;
    background-position: 0; }
  .btn-warning:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .btn-warning[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .btn-warning[disabled]:active {
      box-shadow: none; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #f0f4f5;
    background-position: 0; }
  .btn-warning:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }

.btn-danger {
  font-family: 'Lato', Helvetica, sans-serif;
  display: inline-block;
  border-bottom: none;
  border-radius: 2px;
  color: #f0f4f5;
  background: #1b2f43;
  background-image: linear-gradient(to right, #b7c7d9 50%, #1b2f43 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;
  color: #1b2f43;
  background: #d9534f;
  background-image: linear-gradient(to right, #c12e2a 50%, #d9534f 50%);
  background-position: -100%;
  background-size: 200%; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    color: #1b2f43;
    background-position: 0; }
  .btn-danger:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }
  .btn-danger[disabled] {
    cursor-events: none;
    background: #acb0b4;
    color: #111417; }
    .btn-danger[disabled]:active {
      box-shadow: none; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    color: #f0f4f5;
    background-position: 0; }
  .btn-danger:active {
    box-shadow: inset 0 1px 12px rgba(17, 20, 23, 0.33); }

.panel {
  border-radius: 2px; }

.panel-title {
  font-size: 0.95rem; }

.panel-heading {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px; }

.panel-default {
  border-color: #1b2f43; }
  .panel-default .panel-heading {
    color: #f0f4f5;
    background-color: #1b2f43;
    border-color: #1b2f43;
    background-image: none; }
  .panel-default .panel-content {
    background-color: #f0f4f5; }

.panel-primary {
  border-color: #b7c7d9; }
  .panel-primary .panel-heading {
    color: #1b2f43;
    background-color: #b7c7d9;
    border-color: #b7c7d9;
    background-image: none; }
  .panel-primary .panel-content {
    background-color: #f0f4f5; }

.panel-success .panel-heading {
  color: #1b2f43;
  background-color: #49AB5D;
  background-image: none;
  border-color: #5cb85c; }

.panel-info .panel-heading {
  color: #1b2f43;
  background-color: #2aabd2;
  background-image: none; }

.panel-warning .panel-heading {
  color: #1b2f43;
  background-color: #eb9316;
  background-image: none; }

.panel-danger .panel-heading {
  color: #f0f4f5;
  background-color: #c12e2a;
  background-image: none; }

.label {
  border-radius: .1em; }

.label-default {
  background-color: #1b2f43; }

.label-primary {
  background-color: #b7c7d9;
  color: #1b2f43; }

.label-success {
  background-color: #49AB5D;
  color: #1b2f43; }

.label-info {
  background-color: #2aabd2;
  color: #1b2f43; }

.label-warning {
  background-color: #eb9316;
  color: #1b2f43; }

.label-danger {
  background-color: #c12e2a; }

.alert {
  border-radius: 2px;
  font-size: 0.95rem; }

.alert-success,
.alert-info,
.alert-warning,
.alert-danger {
  background-image: none; }

.well {
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
  font-weight: 300;
  background-image: none; }

/*# sourceMappingURL=epub.css.map */
