///////////////////////////////////
// variables
///////////////////////////////////


// colors
$brand-color:   #1b2f43;
$accent-color:  #b7c7d9;

$white:         #f0f4f5;
$light-1:       #45586e;
$light-2:       #e9faff;
$gray:          #acb0b4;
$dark-gray:     #9d9d9d;
$dark-1:        #00051c;
$dark-2:        #8796a8;
$black:         #111417;

$link:          #39688f;
$link-hover:    #1e5667;

$shadow:        rgba($black, 0.33);

$ui-success:    #43C59E;
$ui-caution:    #FFE67A;
$ui-warning:    #FF6663;


// type sizes
$alpha:    2rem; // 40px
$beta:  1.65rem; // 33px
$gamma: 1.15rem; // 23px
$delta: 0.95rem; // 19px
$epsilon: 0.75rem;
$milli: 0.65rem; // 13px


// breakpoints
$bp--m: 30em;
$bp--l: 56em;

// border radius
$radius:     2px;

// reuseable measurements
$nav-height:         3.45rem;

$stroke-width:       3px;
$stroke-width--lg:   5px;

$button-padding:     0.325em 1.5em 0.5em;
$button-padding--xl: 0.7em 1.75em 0.825em;
$nav-padding:        1rem 0.5rem;
$field-padding:      0.625em 0.825em;

$section-padding:    2.5rem;
$grid-padding:       1rem;


// transition timing
$timing: 0.2s ease;


///////////////////////////////////
// helper mixins
///////////////////////////////////


@mixin clearfix {
  *zoom:1;
  &:before,
  &:after {
    content:"";
    display:table;
    }
    &:after {
      clear:both;
    }
  }


///////////////////////////////////
// manual reset
///////////////////////////////////


// margin reset
h1, h2, h3, h4, h5, h6,
p, ul, ol, li {
  margin: 0;
  padding: 0;
}

// Make it responsive
img,
textarea,
svg {
  max-width: 100%;
}

// images should usually be display:block
img {
  display: block;
}

// enable svg overflow
svg {
  overflow: visible;
}

// Border box hack, courtesy of Paul Irish. http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// pos:rel all the things
body * {
  position: relative;
}

// Hide horizontal scroll bars. Just in case.
html, body {
  overflow-x: hidden;
  width: 100%;
  }

// kill link underlines
a {
  text-decoration: none;
}

// Forms are stupid
label {
  display: inline-block;
}
input[type=checkbox],
input[type=radio]{
  vertical-align: middle;
}
input[type=submit],
input[type=radio],
input[type=checkbox],
button,
label {
  cursor: pointer;
}

// Reset buttons
button,
.btn {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0
  }
}

// reset form elements
button, input[type=button] {
  border: none;
}


///////////////////////////////////
// utility classes
///////////////////////////////////


// Screen reader text
.u-screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.u-screenreader--ignore {
  speak: none;
}

.u-margins_off {
  margin-top: 0 !important;
}


///////////////////////////////////
// typography
///////////////////////////////////


// scale baseline with document
html {
  font-size: 105%;

  @media screen and (min-width: $bp--m) {
    font-size: 115%;
  }

  @media screen and (min-width: $bp--l) {
    font-size: 125%; // 1rem = 20px
  }
}


// typography
@mixin garamond {
  font-family: "adobe-garamond-pro", Georgia, serif;
}

@mixin lato {
  font-family: 'Lato', Helvetica, sans-serif;
}


// global
html,
body {
  @include garamond;
}

h1,
h2,
h3,
h4,
h5,
.navbar,
.heading,
footer {
  @include lato;

  em, i {
    @include lato;
    font-style: italic;
  }
}

main * {
  line-height: 1em;
}

a,
button, input[type=button] {
  font-weight: 400;
}

strong {
  font-weight: 600;
}

em {
  @include garamond;
  font-style: italic;
}

h1,
.alpha {
  font-size: $beta;
  line-height: 1.5em;
  margin-bottom: 1em;

  @media screen and (min-width: $bp--l) {
    font-size: $alpha;
  }
}

h2,
.beta {
  font-size: $beta;
  line-height: 1.2em;
  margin-bottom: 0.75em;
}

h3,
.gamma {
  font-size: $gamma;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
.delta {
  font-size: $delta;
  line-height: 1.6em;
  margin-bottom: 0.8em;
}

small,
.milli {
  font-size: $milli;
  max-width: 28rem; // reel in line width
}

p,
.button {
  line-height: 1.58em;
}

.lead {
  font-size: $gamma;
  @include lato;
}

figure {
  font-size: $epsilon;
  @include lato;
  padding: 1em;

  svg,
  img {
    padding: 1em;
  }

  figcaption {
    padding-top: 1em;
    text-align: center;
  }
}

.well,
.alert,
.label,
table,
.btn {
  @include lato;

  strong,
  em {
    @include lato;
  }
}

table {
  font-size: $epsilon;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  caption {
    color: #3d3d3d;
    padding-top: 1em;
    padding-bottom: 1em;
  }

}

blockquote {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

///////////////////////////////////
// global colors
///////////////////////////////////


* {
  color: $dark-1;
}

// headings
h1, h2, h3, h4, h5, h6,
.heading {
  color: $brand-color;
}

// links
a {
  color: $link;
  border-bottom-width: $stroke-width;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $link-hover;
    border-color: inherit;
    text-decoration: none;
  }
}

a.unity {
  border-bottom-style: dotted;

  &:hover, &:focus, &:active {
    border-bottom-style: solid;
  }
}

// focus
*:focus {
  outline: 0;
  box-shadow: 0px 0px 6px 0px $accent-color;
}
[disabled]:focus {
  box-shadow: 0px 0px 6px 0px $light-2;
}


///////////////////////////////////
// nav
///////////////////////////////////

.navbar-default,
footer {
  background: $brand-color;
  color: $accent-color;
  @include lato;
}

.navbar-default {
  height: 4em;
  border-bottom: 0 solid transparent;

  .navbar-brand {
    color: $white;
    height: auto;
    @include lato;
    font-size: $gamma;
    padding: 10px;

    img {
      height: 35px;
    }

  }

  .navbar-brand.title {
    padding-top: .8em;
    padding-left: 1em;
  }

  .navbar-brand {
    border-bottom: 0 solid transparent;
  }

  .navbar-brand:hover {
    color: $accent-color;
    border-bottom: 0 solid transparent;
  }

  .navbar-nav>li>a {
    color: $accent-color;
    border-bottom: none;
    font-size: 14px;
  }

  .navbar-nav>li>a.current {
      color: #fff;
  }

  .navbar-nav>li.a11y {
      position: absolute;
      top: 0px;
      right: 10px;
  }

  .navbar-nav>li>a.toggle-a11y {
      padding-top: 5px;
      font-size: 10px;
      cursor: pointer;
  }

  .navbar-nav>li>a.toggle-a11y.on::after {
      content: " ON";
  }

  .dropdown-menu>li>a {
      border-bottom: 0;
  }

}

.toc {
  margin-top: 4em;

}

.logos {
  margin-top: 6em;
  margin-bottom: 5em;

  img {
      max-height: 120px;
      margin: 0 auto;
  }
}

///////////////////////////////////
// logos
///////////////////////////////////

.main-logo {
  background-color: $brand-color;
}

.primary-logo {
  background-color: $white;
}

.secondary-logo {
  background-color: $light-1;
}

///////////////////////////////////
// buttons
///////////////////////////////////

// buttons
@mixin button {
  @include lato;
  display: inline-block;
  border-bottom: none;
  border-radius: $radius;
  color: $white;
  background: $brand-color;
  background-image: linear-gradient(to right, $accent-color 50%, $brand-color 50%);
  background-position: -100%;
  background-size: 200%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $brand-color;
    background-position: 0;
  }

  &:active {
    box-shadow: inset 0 1px 12px $shadow;
  }

  &[disabled] {
    cursor-events: none;
    // does not pass a11y conrast check
    background: $gray;
    color: $black;

    &:active {
      box-shadow: none;
    }
  }

}

.button,
.btn-default,
.btn {
  @include button;
  padding: 0.3em 1.625em 0.4em 1.625em;
  font-size: $delta;
}

.button--lg,
.btn-lg {
  @include button;
  padding: 0.65em 1.75em 0.75em 1.75em;
  font-size: $gamma;
}

.button--sm,
.btn-sm {
  @include button;
  padding: 0.75em 1.75em 0.825em 1.75em;
  font-size: $milli;
}

.button--xs,
.btn-xs {
  @include button;
  padding: 0.55em 1.75em .65em 1.75em;
  font-size: .55rem;
}

.btn-primary {
  @include button;
  color: $brand-color;
  background: $accent-color;
  background-image: linear-gradient(to right, $brand-color 50%, $accent-color 50%);
  background-position: -100%;
  background-size: 200%;

    &:hover, &:focus, &:active {
      color: $white;
      background-position: 0;
    }

    &:active {
      box-shadow: inset 0 1px 12px $shadow;
    }
}

.btn-success {
  @include button;
  color: $brand-color;
  background: #5cb85c;
  background-image: linear-gradient(to right, #419651 50%, #5cb85c 50%);
  background-position: -100%;
  background-size: 200%;

    &:hover, &:focus, &:active {
      color: $white;
      background-position: 0;
    }

    &:active {
      box-shadow: inset 0 1px 12px $shadow;
    }


}

.btn-info {
  @include button;
  color: $brand-color;
  background: #5bc0de;
  background-image: linear-gradient(to right, #2aabd2 50%, #5bc0de 50%);
  background-position: -100%;
  background-size: 200%;

    &:hover, &:focus, &:active {
      color: $white;
      background-position: 0;
    }

    &:active {
      box-shadow: inset 0 1px 12px $shadow;
    }


}

.btn-warning {
  @include button;
  color: $brand-color;
  background: #f0ad4e;
  background-image: linear-gradient(to right, #eb9316 50%, #f0ad4e 50%);
  background-position: -100%;
  background-size: 200%;

    &:hover, &:focus, &:active {
      color: $white;
      background-position: 0;
    }

    &:active {
      box-shadow: inset 0 1px 12px $shadow;
    }


}

.btn-danger {
  @include button;
  color: $brand-color;
  background: #d9534f;
  background-image: linear-gradient(to right, #c12e2a 50%, #d9534f 50%);
  background-position: -100%;
  background-size: 200%;

    &:hover, &:focus, &:active {
      color: $white;
      background-position: 0;
    }

    &:active {
      box-shadow: inset 0 1px 12px $shadow;
    }


}
///////////////////////////////////
// panels
///////////////////////////////////
.panel {
  border-radius: 2px;
}

.panel-heading {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.panel-default {
  border-color: $brand-color;

  .panel-heading {
    color: $white;
    background-color: $brand-color;
    border-color: $brand-color;
    background-image: none;
  }

  .panel-content {
    background-color: $white;
  }

}

.panel-primary {
  border-color: $accent-color;

  .panel-heading {
    color: $brand-color;
    background-color: $accent-color;
    border-color: $accent-color;
    background-image: none;
  }

  .panel-content {
    background-color: $white;
  }

}

.panel-success,
.panel-info,
.panel-warning,
.panel-danger {
  .panel-heading {
    background-image: none;
  }
}

///////////////////////////////////
// labels
///////////////////////////////////
.label {
  border-radius: .1em;
}

.label-default {
  background-color: $brand-color;
}

.label-primary {
  background-color: $accent-color;
  color: $brand-color;
}

.label-success {
  background-color: #419641;
}

.label-info {
  background-color: #2aabd2;
}

.label-warning {
  background-color: #eb9316;
}

.label-danger {
  background-color: #c12e2a;
}
///////////////////////////////////
// alerts
///////////////////////////////////
.alert {
  border-radius: 2px;
}
.alert-success,
.alert-info,
.alert-warning,
.alert-danger {
  background-image: none;
}

///////////////////////////////////
// fields
///////////////////////////////////


input[type='text'], textarea {
  width: 100%;
  padding: $field-padding;
  background: $light-1;
  border: none;
}

textarea {
  min-height: $grid-padding * 8;
  max-height: $grid-padding * 24;
}

label {
  top: 10px; // bring label closer to field without messing up vertical rhythm
}

form .button {
  margin-top: $grid-padding / 2; // space out the submit button
}

// style placeholder text -- not super well supported, but hey
::placeholder {
  color: $gray;
}


///////////////////////////////////
// swatches
///////////////////////////////////


.swatch {
  display: block;
  height: $grid-padding * 2;

  &.brand-color  { background: $brand-color;  height: $grid-padding * 6;}
  &.accent-color { background: $accent-color; height: $grid-padding * 6;}

  &.white   { background: $white;   }
  &.light-1 { background: $light-1; }
  &.light-2 { background: $light-2; }
  &.gray    { background: $gray;    }
  &.dark-gray { background: $dark-gray; }
  &.dark-1  { background: $dark-1;  }
  &.dark-2  { background: $dark-2;  }
  &.black   { background: $black;   }

  &.ui-success { background: $ui-success; }
  &.ui-caution { background: $ui-caution; }
  &.ui-warning { background: $ui-warning; }

  &-label {
    padding: $grid-padding / 2;
    color: $black;
    opacity: 0.66666666;
  }

  &-label--light {
    padding: $grid-padding / 2;
    color: $white;
    opacity: 0.66666666;
  }

}

///////////////////////////////////
// wells
///////////////////////////////////
.well {
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
  font-weight: 300;
  background-image: none;
}


///////////////////////////////////
// transitions
///////////////////////////////////


* {
  transition:
    color $timing,
    background $timing,
    border $timing,
    box-shadow $timing,
    fill $timing,
    transform $timing;
}

// reset transition for nested stuff
a > {
  em, i,
  strong, b,
  g, path {
    transition: none;
  }
}

*:after {
  transition: all 0.2s ease;
}

///////////////////////////////////
// layout
///////////////////////////////////

.top {
  padding-top: 10em;
}

footer {
  padding-top: 3em;
  padding-bottom: 2em;
  margin-top: 3em;

  p,
  ul,
  li {
    font-size: $epsilon;
    color: $accent-color;
  }

  li {
    margin-bottom: 0;
  }

  p.title {
      font-size: $delta;
      font-weight: strong;
      color: $white;
  }

  .logos {
    margin-top: 0;
    margin-bottom: 0;
  }

}
