///////////////////////////////////
// global colors
///////////////////////////////////


* {
  color: $dark-1;
}

// headings
h1 {
  color: $brand-color;

  small {
    color: #757575;
  }

}

h2, h3, h4, h5, h6 {
  color: $light-1;

  small {
    color: #757575;
  }
}


// links
a {
  color: $link;
  border-bottom-width: $stroke-width;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $link-hover;
    border-color: inherit;
    text-decoration: none;
  }
}

a.unity {
  border-bottom-style: dotted;

  &:hover, &:focus, &:active {
    border-bottom-style: solid;
  }
}

// focus
*:focus {
  outline: 0;
  box-shadow: 0px 0px 6px 0px $accent-color;
}
[disabled]:focus {
  box-shadow: 0px 0px 6px 0px $light-2;
}

///////////////////////////////////
// logos
///////////////////////////////////

.main-logo {
  background-color: $brand-color;
}

.primary-logo {
  background-color: $white;
}

.secondary-logo {
  background-color: $light-1;
}
