@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src:url(fonts/Lato-Bold.ttf);
}
@font-face{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src:url(fonts/Lato-BoldItalic.ttf);
}
@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src:url(fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src:url(fonts/Lato-Italic.ttf);
}
@font-face{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src:url(fonts/Lato-Light.ttf);
}
@font-face{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src:url(fonts/Lato-LightItalic.ttf);
}
@font-face{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src:url(fonts/Lato-Italic.ttf);
}
@font-face{
    font-family: "adobe-garamond-pro";
    font-style: normal;
    font-weight: 400;
    src:url(fonts/AGaramondPro-Regular.otf);
}
@font-face{
    font-family: "adobe-garamond-pro";
    font-style: italic;
    font-weight: 300;
    src:url(fonts/AGaramondPro-Italic.otf);
}
@font-face{
    font-family: "adobe-garamond-pro";
    font-style: normal;
    font-weight: 700;
    src:url(fonts/AGaramondPro-Bold.otf);
}
@font-face{
    font-family: "adobe-garamond-pro";
    font-style: italic;
    font-weight: 700;
    src:url(fonts/AGaramondPro-BoldItalic.otf);
}

@import 'variables';
@import 'mixins';
@import 'resets';
@import 'utilities';
@import 'typography';
@import 'colors';
@import 'components';
